---
// type Props = {
//   data: {
//     title: string;
//     tweet: string;
//     designer: string;
//   };
// };
const { title, tweet, design } = Astro.props.data;
---

<header>
  <nav>
    <a href="/">{title}</a>
    <a href={`https://x.com/${design}`} target="_blank">@{design}</a>
    <a href={tweet} target="_blank"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 1200 1227"
        ><path
          fill="#fff"
          d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
        ></path></svg
      ></a
    >
  </nav>
</header>

<style>
  header {
    width: 100%;
    background: #272727;
    color: #fff;
  }
  nav {
    width: min(100%, 75rem);
    margin-inline: auto;
    padding-inline: 2rem;
    height: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    a:nth-child(1) {
      justify-self: start;
    }

    a:nth-child(2) {
      justify-self: center;
    }

    a:nth-child(3) {
      justify-self: end;
    }
  }
</style>
